.container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.container strong {
  font-size: 20px;
  line-height: 26px;
}

.container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

.container a {
  text-decoration: none;
}
span {
  width: 100px;
}
ion-card {
  --width: 50px;
}

ion-card.itemsOrdered {
  width: 200px;
}

ion-card-content {
  padding: 0 !important;
}
.quantity {
  width: 50%;
  display: inline !important;
}

.totalPrice {
  width: 40%;
  display: inline !important;
  float: right;
}

.totalPrice div {
  float: right;
}

ion-card.user {
  width: 400px;
}

ion-card.user b {
  font-size: 20px;
}

ion-fab {
  margin-top: -10px;
  --width: 50% important;
}

button {
  --width: 50% important;
}

.fabbut {
  width: 40px;
  height: 40px;
}

.user b {
  font-family: "Varela Round", sans-serif;
}

.Total {
  width: 420px;
}

ion-card span {
  font-size: 20px;
}

.App {
  font-family: sans-serif;
  text-align: center;
}
.coll-panel-btn:focus {
  outline: 0;
  box-shadow: none;
}

 .itemsOrderedUser {
  --background: rgb(22, 21, 21)!important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.containerForItemsUser  {
  padding-right: 50px;
  margin-left: -10px;
}

.input{
  width: 500px;
}
